<h1>A Greeting for You!</h1>
<p><%= @message %></p>

<%# <div id="containerDiv" style="width: 320px; min-width: 200px; height: 465px; min-height: 400px; ">
<!--Amazon CCP will go here-->
</div> %>

    <div id="topDiv" style="width: 700px; min-width: 700px; margin-left: 200px;">
        <div id="myApp">
        <h1>Amazon Connect Streams API Samples</h1>
        <h2>Subscribing to Streams Events</h2>
    </div>
    </div>
    <div id="gridDiv" style="display: grid; grid-template-columns: 350px 400px 400px">
        <div id="containerDiv" style="width: 320px; min-width: 200px; height: 465px; min-height: 400px; ">
            <!--Amazon CCP will go here-->
        </div>
        <div id="logMsgsContainer">
            <h2>Log Messages</h2>
            <div id="logMsgs" style="height: 465px; overflow: auto;">
                <!-- log messages will go here -->
            </div>
        </div>
        <div id="eventMsgsContainer">
            <h2>Event Messages</h2>
            <div id="eventMsgs" style="height: 465px; overflow: auto;">
                <!-- events from Streams API will go here-->
            </div>
        </div>
    </div>